article:nth-of-type(1) {
  background: blue;
  width: calc(100% / 2);
}

@media (max-width: 1000px) {
  article:nth-of-type(1) {
    background: red;

    /* https://github.com/closingtag/calc-polyfill#media-queries */
  }
}
